

/* container */
.intro-container {
  font-size: 3rem;
  color: $primary-color;
  font-family: 'Space Mono', monospace;
  font-weight: normal;
}

/* list */
.intro__list {
  padding: 0;
  margin-top: 15rem;
  list-style: none;

}

.intro__list__item {
  line-height: 1;
}

.intro__list__item:not(:last-child) {
  margin-bottom: 20px;
}

.intro__list__item span {
  display: inline-block;     
  line-height: 1;
  vertical-align: middle;  
  padding-bottom: 10px;
}

.intro__list__item::before {
  content: '';
  background-image:  url('../../assets/images/diamond.svg');
  background-size: 2rem;
  padding: 22px 22px 22px 0;
  margin-right: 10px;
  background-position: center;
  background-repeat: no-repeat;
}