{# background #}
<div class="bg-container">

  <h1 class="bg__title">
    <span class="bg__title--text">
      <span class="bg__title--text bg__title--first-letter">E</span><span>RIC</span>
    </span>
    <span class="bg__title--text">TALVISTE</span>
  </h1>

  {% image "lines.svg", "", "", "bg-lines" %}

</div> 