<div class="intro-container">
  <ul class="intro__list">
    <li class="intro__list__item"><span>Graphic Designer</span></li>
    <li class="intro__list__item"><span>Front-end Developer</span></li>
    <li class="intro__list__item"><span>Eric.Talviste[a]gmail.com</span></li>
  </ul>
</div>