<ul class="social__links__list"> 
  <li class="social__link__item">
    <a class="social__link" target="_blank" href="https://www.linkedin.com/in/erictalviste/">LINKEDIN</a>
  </li>
  <li class="social__link__item">
    <a class="social__link" target="_blank" href="https://www.instagram.com/et_experience/">INSTAGRAM</a>
  </li>
  <li class="social__link__item">
    <a class="social__link" target="_blank" href="https://dribbble.com/EricTalv">DRIBBBLE</a>
  </li>
  <li class="social__link__item">
    <a class="social__link" target="_blank" href="https://codepen.io/Epsilon6">CODEPEN</a>
  </li>
  <li class="social__link__item">
    <a class="social__link" target="_blank" href="https://github.com/EricTalv">GITHUB</a>
  </li>

  
</ul><