
@font-face {
    font-family: 'Space Mono';
    src: url('./assets/static/fonts/SpaceMono-Regular.woff2') format('woff2'),
        url('./assets/static/fonts/SpaceMono-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Space Mono';
    src: url('./assets/static/fonts/SpaceMono-Bold.woff2') format('woff2'),
        url('./assets/static/fonts/SpaceMono-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Space Mono';
    src: url('./assets/static/fonts/SpaceMono-Italic.woff2') format('woff2'),
        url('./assets/static/fonts/SpaceMono-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Space Mono';
    src: url('./assets/static/fonts/SpaceMono-BoldItalic.woff2') format('woff2'),
        url('./assets/static/fonts/SpaceMono-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Glusp';
    src: url('./assets/static/fonts/glusp.woff2') format('woff2'),
        url('./assets/static/fonts/glusp.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

